<!doctype html>

<h1>Hooray!</h1>

<p>Your site has been added to the web ring, and will be active once you add the code to your page.</p>

<pre>
&lt;a href='{{baseURL}}/next/{{siteURL}}'&gt;Next&lt;/a&gt;
&lt;a href='{{baseURL}}/prev/{{siteURL}}'&gt;Previous&lt;/a&gt;
</pre>

<form action='/confirm' method='post'>
    <input type='hidden' name='_csrf' value='{{_csrf}}'>
    <button>I did this</button>
</form>
